/* styles.css */
.list_container{
    padding: 10px;
    margin: 10px;
}
input{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: antiquewhite;
}

.table-container {
  border: 1px solid rgba(255, 255, 255, 0.954);;
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
  background-color: rgba(144, 140, 140, 0.569);
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid rgba(255, 255, 255, 0.411);
  padding: 8px;
}
.table-container th{
    background-color: rgba(19, 19, 19, 0.342);
}


@media (max-width: 415px) {
.list_container{
    padding: 0px;
    margin: 0px;
}
.input_search{
    margin-top: 5px;
    margin-left: 5px;
}
.table-container table {
    font-size: 12px; /* Decrease font size for smaller screens */
}
.table-container th,
.table-container td {
    padding: 0px; /* Reduce padding for smaller screens */
    padding-top: 3%;
    padding-bottom: 3% !important;
  }
}